<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 1.1rem;">{{item?.title}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding ion-text-center">
  <ion-col [innerHTML]="body" style="white-space: pre-wrap;
                                           font-size: 1.2rem;
                                           margin: auto;
                                           font-style: italic;">
  </ion-col>
</ion-content>