<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" no-border no-scroll class="ion-padding">
  <ion-card>
    <!-- Yunior's card -->
    <ion-item class="ion-padding">
      <ion-avatar slot="start">
        <img src="../../assets/user1.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Yunior Peña Ricardo</h3>
        <p>Colaborador en Iglesia de Dios</p>
        <!-- The button to call it -->
        <ion-button slot="end" (click)="call('+5354799029')" fill="outline" shape="round" color="primary"><ion-icon name="call"></ion-icon></ion-button>
        <!-- and the button to go to the Facebook profile -->
        <ion-button slot="end" fill="outline" href="https://www.facebook.com/yunior.penaricardo" shape="round" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      </ion-label>
    </ion-item>

    <!-- Brunet's card -->
    <ion-item class="ion-padding">
      <ion-avatar slot="start">
        <img src="../../assets/user2.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Rodolfo Brunet Abreu</h3>
        <p>Pastor en Iglesia de Dios</p>
        <!-- The button to call it -->
        <ion-button slot="end" (click)="call('+55310427')" fill="outline" shape="round" color="primary"><ion-icon name="call"></ion-icon></ion-button>
        <!-- and the button to go to the Facebook profile -->
        <ion-button slot="end" fill="outline" shape="round" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      </ion-label>
    </ion-item>

    <!-- My card -->
    <ion-item class="ion-padding">
      <ion-avatar slot="start">
        <img src="../../assets/user3.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Luis Miguel Pozo Gonzalez</h3>
        <p>Programador</p>
        <!-- The button to call it -->
        <ion-button slot="end"  (click)="call('+5358766375')" fill="outline" shape="round" color="primary"><ion-icon  name="call"></ion-icon></ion-button>
        <!-- and the button to go to the Facebook profile -->
        <ion-button slot="end" fill="outline" shape="round" color="primary" href="https://www.facebook.com/luismiguel.pozogonzalez.77"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>