ion-content {
  ion-card {
    ion-item {
      --border-radius: 15px;
    }
    ion-avatar {
      width: 30% !important;  
      height: 30% !important;  
    }
    box-shadow: none !important;
  }
 --background: url('/assets/cross-background.jfif')  no-repeat  no-repeat 52% center/cover; 
    opacity: 0.8;
    height: 2rem; 

}
