/*   --background: url("/assets/pexels-wendy-van-zyl-1112048.jpg") no-repeat 52%
    center/cover;
  overflow: hidden; */

div {
  width: 100%;
  display: flex !important;
  align-items: flex-start !important;
  justify-content: center !important;
}

img {
  margin-top: 25vh;
  margin-bottom: 15vh;
  max-width: fit-content;
}
ion-button {
  width: 30vh;
  height: 6vh;
  box-shadow: grey;
}
